@model IEnumerable<HotelChainDbManager.Data.Service>

@{
    ViewData["Title"] = "Обслуговування";
}

<h1>Обслуговування</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Додати</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelNumber)
                </td>
            <td>
                <a asp-action="Delete"
                    asp-route-hotelNumber="@item.HotelNumber"
                    asp-route-roomNumber="@item.RoomNumber"
                    asp-route-employeeId="@item.EmployeeId"
                    class="btn btn-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
