@model IEnumerable<HotelChainDbManager.Data.Room>

@{
    ViewData["Title"] = "Номери";
}

<h1>Номери</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cтворити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" 
                    asp-route-hotelNumber="@item.HotelNumber"
                    asp-route-number="@item.Number" 
                    asp-route-class="@item.Class"
                    asp-route-capacity="@item.Capacity"
                    class="btn btn-primary">Редагувати</a> |
                <a asp-action="Delete"
                    asp-route-hotelNumber="@item.HotelNumber"
                    asp-route-number="@item.Number"
                    asp-route-class="@item.Class"
                    asp-route-capacity="@item.Capacity"
                    class="btn btn-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
