@model IEnumerable<HotelChainDbManager.Data.Rent>

@{
    ViewData["Title"] = "Оренда";
}

<h1>Оренда</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 @Html.DisplayFor(model => item.Resident)
            </td>
            <td>
                @Html.DisplayFor(model => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.HotelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentEnd)
            </td>
            <td>
                <a asp-action="Edit"
                    asp-route-hotelNumber="@item.HotelNumber"
                    asp-route-resident="@item.Resident"
                    asp-route-roomNumber="@item.RoomNumber"
                    asp-route-costPerDay="@item.CostPerDay"
                    asp-route-rentStart="@item.RentStart.ToString("yyyy-MM-dd")"
                    asp-route-rentEnd="@item.RentEnd.ToString("yyyy-MM-dd")"
                    class="btn btn-primary">Редагувати</a>
                <a asp-action="Delete"
                    asp-route-hotelNumber="@item.HotelNumber"
                    asp-route-resident="@item.Resident"
                    asp-route-roomNumber="@item.RoomNumber"
                    asp-route-costPerDay="@item.CostPerDay"
                    asp-route-rentStart="@item.RentStart.ToString("yyyy-MM-dd")"
                    asp-route-rentEnd="@item.RentEnd.ToString("yyyy-MM-dd")"
                    class="btn btn-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
