@model IEnumerable<HotelChainDbManager.Data.Rent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CostPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidentNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentNavigation.IdCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Number)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
