@model IEnumerable<HotelChainDbManager.Data.Hotel>

@{
    ViewData["Title"] = "Готелі";
}

<h1>Готелі</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Додати</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Number" class="btn btn-primary">Редагувати</a> |
                <a asp-action="Delete" asp-route-id="@item.Number" class="btn btn-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
